In [94]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [95]:
df = pd.read_csv("car_state.csv")

In [96]:
df.head()

,buying_price,maintenance,doors,seats,trunk_size,safety,status
0,medium,medium,3,4,small,medium,acceptable
1,low,medium,5 or more,2,small,high,unacceptable
2,low,very high,2,2,big,high,unacceptable
3,medium,very high,4,2,big,high,unacceptable
4,very high,high,2,5 or more,small,low,unacceptable

In [97]:
df.tail()

,buying_price,maintenance,doors,seats,trunk_size,safety,status
1394,medium,low,5 or more,5 or more,big,low,unacceptable
1395,medium,high,5 or more,4,medium,high,acceptable
1396,very high,medium,3,5 or more,medium,high,acceptable
1397,medium,very high,4,4,medium,medium,acceptable
1398,low,medium,3,5 or more,medium,low,unacceptable

In [98]:
df.describe()

,buying_price,maintenance,doors,seats,trunk_size,safety,status
count,1399,1399,1399,1399,1399,1399,1399
unique,4,4,4,3,3,3,4
top,low,high,3,5 or more,small,medium,unacceptable
freq,362,355,362,472,476,469,974

In [99]:
print(df["buying_price"].unique())
print(df["maintenance"].unique())
print(df["doors"].unique())
print(df["seats"].unique())
print(df["trunk_size"].unique())
print(df["safety"].unique())
print(df["status"].unique())

['medium' 'low' 'very high' 'high']
['medium' 'very high' 'high' 'low']
['3' '5 or more' '2' '4']
['4' '2' '5 or more']
['small' 'big' 'medium']
['medium' 'high' 'low']
['acceptable' 'unacceptable' 'good' 'very good']

In [100]:
from sklearn.preprocessing import OrdinalEncoder,LabelEncoder
from sklearn.model_selection import train_test_split

y = df["status"]
df.drop("status",axis=1,inplace=True)

x_train,x_test,y_train,y_test = train_test_split(df,y,test_size=42,random_state=42)

oe = OrdinalEncoder()
le = LabelEncoder()

x_train = oe.fit_transform(x_train)
x_test = oe.transform(x_test)

y_train = le.fit_transform(y_train)
y_test = le.transform(y_test)

In [148]:
from collections import Counter
class KNN:
    def __init__(self,k=3) :
        self.k = k

    def fit(self,x,y):
        self.x_train = x
        self.y_train = y
    
    def eucledian(self,x1,x2):
        return np.sqrt(np.sum(np.power((x1-x2),2)))

    def predict(self,x):
        predictions = [self.__predict(x_t) for x_t in x]
        return np.array(predictions)

    def __predict(self,x_t):
        distance = [self.eucledian(x_t,x_h) for x_h in self.x_train]
        k_indices = np.argsort(distance)[:self.k]
        k_classes = [self.y_train[i] for i in k_indices]
        most_common = Counter(k_classes).most_common(1)
        return most_common[0][0]

In [149]:
knn1 = KNN(3)
knn1.fit(x_train,y_train)

In [150]:
predictions1 = knn1.predict(x_test)

In [151]:
from sklearn.metrics import accuracy_score

print(accuracy_score(y_test,predictions1))

0.8809523809523809

In [130]:
from sklearn.neighbors import KNeighborsClassifier

knn2 = KNeighborsClassifier()

knn2.fit(x_train,y_train)

KNeighborsClassifier()

In [131]:
preds = knn2.predict(x_test)

In [134]:
print(accuracy_score(y_test,preds))

0.8809523809523809